    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/foto.jpeg" class="img-fluid" id="fotodeperferfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h3 id="nombre">Agustin Alejo </h3>
            <p>full stack developer</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 contenedor">      
            <span>
                <h1>acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam labore nobis officiis repellat eum, pariatur, facilis neque cumque eius velit corporis ex deleniti placeat culpa iure est, quae maxime qui!</p>
            </span>
        </div>
 
    </div>
