<div class="row">
    <div class="container">
        <div class="logo">
                <img src="./../../../assets/argentinap4.0.png"  id="logoap">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/aguszim"><img src="../../../assets/github.png"  id="github"></a>
                <a href="https://ar.linkedin.com/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://www.facebook.com/alejo.rivero.16"><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href="https://www.instagram.com/agustin.contr?r=nametag"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://twitter.com/?lang=es"><img src="../../../assets/twitter.png" id="twitter"></a>
                <button type="button" class="btn btn-dark">login</button>
            </div>
        </div>
    </div>
</div>

