<div classs="row">
    <div>
            <h1>     Proyectos</h1>
    </div>
<div clas="contenedor">
    <div class="gx-5">
        <div class="panel col-lg-12">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                  <div class="card">
                    <img src="https://raw.githubusercontent.com/aguszim/proyectofinal_agustinRivero_/main/Proyectofinal_AgustinRivero/FrontEnd/src/assets/proyecto1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Título de la tarjeta</h5>
                      <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional.Este contenido es un poco más largo.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="https://raw.githubusercontent.com/aguszim/proyectofinal_agustinRivero_/main/Proyectofinal_AgustinRivero/FrontEnd/src/assets/proyecto1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Título de la tarjeta</h5>
                        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional.Este contenido es un poco más largo.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="https://raw.githubusercontent.com/aguszim/proyectofinal_agustinRivero_/main/Proyectofinal_AgustinRivero/FrontEnd/src/assets/proyecto2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Título de la tarjeta</h5>
                        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional.Este contenido es un poco más largo.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="https://raw.githubusercontent.com/aguszim/proyectofinal_agustinRivero_/main/Proyectofinal_AgustinRivero/FrontEnd/src/assets/proyecto2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Título de la tarjeta</h5>
                        <p class="card-text">Esta es una tarjeta más larga con texto de apoyo a continuación como introducción natural a contenido adicional.Este contenido es un poco más largo.</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
    </div>
